body {
    background: rgb(5, 39, 27);
}

main {
    display: flex;
    height: 95vh;
    flex-direction: column-reverse;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-content: space-between;
}

.verde {

    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid rgba(21, 255, 0, 0.592);
}

.amarelo {

    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid rgb(255, 221, 0);
}

.vermelho {
    
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid rgb(255, 0, 0);
    align-self: flex-end;
}